
.navbar{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
    font-size: 35px;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

body{
    background-image: url(r.jpg);
    background-size: cover;
}
* { 
    margin: 0; 
    padding: 0; 
}

a {
    text-decoration: none;
}

.btn {
    background-color: #ff3d3d;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 15px;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.top-nav{ 
    padding: 8px 12px;
    background-color: #ffdbdb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav .social-links {
    list-style: none;
}

.top-nav .social-links li{
    display: inline;
    margin-right: 10px;
}

.top-nav .social-links li:last-child{
    margin-right: 0;
}

nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .menu {
    list-style: none;
}

nav .menu .menu-item {
    display: inline;
    margin-right: 20px;
}

nav .menu .menu-item:last-of-type {
    margin-right: 0;
}

nav .menu a {
    color: #666666;
    font-size: 18px;
    font-weight: 600;
}

nav .menu .menu-item.active a, 
nav .menu .menu-item:hover a {
    color: #ff3d3d;
}
.m{
    margin-top: 100px;
}


